# This workflow:
#  - builds and uploads a binary artifact for each Windows architecture
#  - tests the runner on Windows with a Forgejo server container running on Windows Subsystem for Linux (WSL)
#  - releases the binary artifacts as a GitHub release

name: Build Release
run-name: Build Release ${{ inputs.tag }}

on:
  push:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to release'
        type: string
        required: true
      goal:
        description: 'Goal of run'
        type: choice
        required: false
        options:
          - release
          - draft
          - test-fork
        default: release

jobs:

  test-docker:
    name: Test docker running on Windows (${{ matrix.counter }})
    runs-on: windows-latest
    strategy:
      matrix:
        counter: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    steps:

      - name: Windows - Setup Windows Subsystem for Linux (WSL)
        uses: Vampire/setup-wsl@v6
        with:
          distribution: Ubuntu-24.04
          update: true
          wsl-shell-user: runner
          set-as-default: 'true'

      - name: Install Docker
        shell: pwsh
        run: |
          wsl -u root -- bash -c 'curl -fsSL https://get.docker.com -o get-docker.sh'
          wsl -u root -- bash -c 'bash ./get-docker.sh'

      - name: Enable systemd in WSL and register Docker user
        shell: pwsh
        run: |
          wsl -u root -- bash -c 'echo -e "[boot]\nsystemd=true" > /etc/wsl.conf'
          wsl --shutdown
          wsl -u root -- bash -c 'usermod -aG docker runner'

      - name: Configure Docker daemon
        shell: pwsh
        run: |
          wsl -u root -- bash -c 'sed -i "s|ExecStart=/usr/bin/dockerd|ExecStart=/usr/bin/dockerd -H tcp://0.0.0.0:2375|" /lib/systemd/system/docker.service'
          wsl -u root -- bash -c 'systemctl daemon-reload'
          wsl -u root -- bash -c 'systemctl restart docker'
          wsl -u runner -- bash -c 'docker info'

      - name: Run Linux Docker containers from Windows host
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 5
          shell: pwsh
          command: |
            $docker_host = "tcp://localhost:2375"
            echo "Using Docker host URL: $docker_host for Docker operations"
  
            docker --host $docker_host version
            docker --host $docker_host pull ubuntu:latest
            docker --host $docker_host run --rm ubuntu:latest echo "Hello from Linux container"
